@import './settings/variables';
@import './settings/typography';
@import './breakpoints/1030up';
@import './includes/grid.scss';
body {
	background-color: $background;
	@include font('regular');
}
//reset styles
a {
	text-decoration: none;
	color: $primary;
	transition: color 0.5s ease-in-out;
	&:hover {
		color: $secondary;
	}
	&.button {
		display: inline-block;
		padding: $base/2 $base;
		margin: $base 0;
		background-color: $primary;
		color: $background;
		transition: background-color 0.5s ease-in-out;
		&:hover {
			background-color: $secondary;
		}
	}
}

ul {
	padding-left: unset;
	li {
		list-style-type: none;
	}
}

//components
//layout
header {
	.main-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			@include font('regular', 700, uppercase);
			&#logo {
				display: block;
				width: $base * 4;
				img {
					width: 100%;
				}
			}
		}
	}
}

//end layout
//generic
.col {
	border: 1px solid $secondary;
}
//end generic
//static

//end static
//action
.drink-list {
	display: flex;
	flex-wrap: wrap;
	.drink-item {
		&.selected {
			border: 1px solid $primary;
		}
		p, img {
			pointer-events: none;
		}
		img {
			height: $base * 3
		}
	}
}
//end action
//end components

//pages
//end pages